<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="SnakeGameDB" connectionString="Data Source=LAPTOP-5UAJ5QSP\SQLEXPRESS;Initial Catalog=QuanLyNguoiChoi;Integrated Security=True;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
        <add name="SnakeGame.Properties.Settings.QuanLyNguoiChoiConnectionString"
            connectionString="Data Source=LAPTOP-5UAJ5QSP\SQLEXPRESS;Initial Catalog=QuanLyNguoiChoi;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>